html {
    font-family: "Indie Flower", cursive;
}

.mascotas h3 {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000;
    color: #fff;
    font-size: 40px;
    margin-left: 20px;
}

.mascotas ol {
    color: #fff;
    display: inline-block;
    font-size: 28px;
}

.mascotas {
    width: 100%;
}

.mascotas img {
    border: 3px solid #000;
}

.fondomasc {
    background-image: url(../img/casa2.jpg);
    border: 3px solid #000;
    border-radius: 10px 25px;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax {
    background-image: url(../img/casafoto12.jpg);
    width: 100%;
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contenedor {
    width: 900px;
    margin: auto;
    position: relative;
}

.boton {
    -webkit-box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.5);
    background-image: url(../img/casa2.jpg);
    color: #fff;
    border: 2px solid #000;
    border-radius: 12px;
    padding: 7px 12px;
    cursor: pointer;
    text-decoration: none;
    font-size: 20px;
    position: absolute;
    right: 30px;
    margin-bottom: 20px;
}

.go-back {
    color: black;
}

.titulos {
    width: 100%;
    padding: 50px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo {
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #000;
    font-size: 70px;
    margin-top: 0;
    color: #fff;
}

.titulo2 {
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #000;
    font-size: 50px;
    color: #fff;
}

.titulo3 {
    font-size: 40px;
    display: flex;
    justify-content: center;
}

.menu {
    font-size: 30px;
    font-weight: 700;
    position: static;
}

.menu ul {
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.menu li {
    display: block;
    margin: 30px 20px;
}

.menu li a {
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #000;
    color: #fff;
    text-decoration: none;
}

.menucont {
    display: flex;
    justify-content: center;
}

.menu2 {
    font-size: 30px;
    font-weight: 700;
}

.menu2 ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.menu2 li {
    -webkit-box-shadow: 8px 8px 8px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 8px 8px 8px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 8px 8px 8px 0 rgba(0, 0, 0, 0.5);
    display: inline-block;
    border: 2px solid #000;
    border-radius: 5px 15px;
    padding: 5px;
    margin: 5px 15px 0;
    background-image: url(../img/casa2.jpg);
}

.menu2 li a {
    -webkit-text-stroke-width: 1.8px;
    -webkit-text-stroke-color: #000;
    color: #fff;
    text-decoration: none;
}

.catmenu {
    background-color: #fff;
    border-radius: 50px 200px 200px 200px;
    border: 0;
    color: #000;
    line-height: 2;
    font-size: 40px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    position: fixed;
    left: 20px;
    top: 20px;
    z-index: 3;
    display: none;
}

.mascotas span {
    border-bottom: 1px solid #fff;
}

.mascota {
    -webkit-box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.5);
    margin: 30px;
    display: flex;
    flex-flow: row wrap;
    border-radius: 15px 35px;
}

.mascota2 {
    -webkit-box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.5);
    margin: 30px;
    display: flex;
    flex-flow: wrap;
    border-radius: 15px 35px;
}

.mascota2 ol {
    margin-right: 40px;
}

.imagenescel {
    bottom: 50px;
    border-radius: 25px 10px;
}

.imagenes {
    margin: 20px 15px 0 30px;
    border-radius: 10px 25px;
}

.contbelgie {
    width: 100%;
}

.contbruss {
    width: 100%;
}

.contcrepa {
    width: 100%;
}

.contritter {
    width: 100%;
}

.contpoly {
    width: 100%;
}

.contpoly img {
    left: 30px;
    border-radius: 25px 10px;
    margin: 30px 40px 0 0;
}

.contcoco {
    width: 100%;
}

.contcoco img {
    bottom: 50px;
    border-radius: 10px 25px;
}

.derecha {
    float: right;
    position: relative;
    right: 30px;
}

.izquierda {
    float: left;
    position: relative;
    bottom: 30px;
}

.lista li:first-child {
    padding-top: 60px;
}

@media screen and (max-width: 850px) {
    header {
        text-align: center;
    }
    .contenedor {
        width: 100%;
    }
    .titulos {
        margin: 0 auto;
        padding: 40px 0;
    }
    .titulo {
        font-size: 60px;
    }
    .titulo2 {
        font-size: 40px;
        -webkit-text-stroke-width: 2px;
    }
    .parallax {
        height: 450px;
    }
    .menu {
        position: static;
    }
    .menu li {
        font-size: 25px;
        justify-content: center;
        margin-top: 20px;
    }
    .menu ul {
        padding: 0;
    }
    .titulo3 {
        font-size: 30px;
    }
    .menu2 {
        font-size: 25px;
    }
    .menu2 ul {
        margin: 8px 0;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
    .menu2 li {
        padding: 1px;
    }
    .mascotas {
        text-align: center;
    }
    .mascotas h3 {
        margin-left: 0;
        font-size: 35px;
    }
    .mascota ol {
        margin-left: 0;
        display: block;
        padding: 0;
    }
    .mascota li {
        display: block;
        margin-left: 0;
        font-size: 30px;
    }
    .lista {
        margin-top: 0;
    }
    .lista li {
        -webkit-text-stroke-width: 0.8px;
    }
    .lista li:first-child {
        padding-top: 20px;
    }
    .mascota2 li {
        display: block;
    }
    .derecha,
    .izquierda {
        float: none;
        position: static;
    }
    .contcoco img {
        bottom: 0;
    }
    .contpoly img {
        left: 0;
        margin: 0;
    }
    .imagenescel {
        bottom: 0;
    }
    .imagenes {
        margin: 0 25px;
    }
}

@media screen and (max-width: 660px) {
    .menu {
        position: static;
        display: block;
    }
    .menu li {
        margin-bottom: 0;
    }
    .menu li a {
        -webkit-text-stroke-width: 1.2px;
        font-size: 25px;
    }
    .titulos {
        padding-top: 30px;
        padding-bottom: 0;
    }
    .titulo {
        -webkit-text-stroke-width: 2px;
        margin-bottom: 0;
    }
    .titulo2 {
        -webkit-text-stroke-width: 2px;
    }
    .mascotas h3 {
        -webkit-text-stroke-width: 1px;
    }
    .lista li {
        -webkit-text-stroke-width: 0.5px;
    }
    .boton {
        display: block;
        align-items: stretch;
        position: static;
        margin: 30px;
    }
}

@media screen and (max-width: 560px) {
    .menu2 ul {
        flex: 1;
    }
    .menu2 {
        margin: 0;
        position: fixed;
        left: -100%;
        top: 0;
        z-index: 2;
        bottom: 0;
        right: 0;
        display: flex;
        width: 100%;
        background-color: rgba(128, 112, 78, 0.8);
        align-items: center;
        transition: 300ms;
    }
    .menu2.active {
        left: 0;
    }
    .catmenu {
        display: inline-block;
    }
    .menu2 li {
        -webkit-text-stroke-width: 0.2px;
        font-size: 30px;
        text-align: center;
        width: 100%;
        display: block;
        border: 0;
        border-bottom: 2px solid #fff;
        border-radius: 0;
        background-image: none;
    }
    .menu2 li:first-child {
        border-top: 2px solid #fff;
    }
    .menu li:first-child {
        margin-top: 0;
        padding-top: 10px;
    }
    .menu li:last-child {
        padding-bottom: 10px;
    }
    .lista li {
        -webkit-text-stroke-width: 0.2px;
    }
    .menu li {
        margin: 0;
        background-color: rgba(0, 0, 0, 0.3);
    }
    .menu li:first-child a {
        border-top: 2px solid #fff;
    }
    .menu ul {
        display: block;
    }
    .menu li a {
        -webkit-text-stroke-width: 0;
        border-bottom: 2px solid #fff;
    }
    .lista {
        width: 100%;
        padding: 0;
    }
    .mascotas img {
        margin-bottom: 30px;
    }
    .mascotas h3 {
        -webkit-text-stroke-width: 0;
        background-color: rgba(0, 0, 0, 0.6);
    }
    .mascota2 ol {
        margin-right: 0;
    }
    .lista li {
        width: 100%;
        -webkit-text-stroke-width: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: rgba(0, 0, 0, 0.6);
    }
    .titulos {
        padding: 0;
        background-color: rgba(0, 0, 0, 0.3);
    }
    .titulo {
        margin-top: 20px;
        -webkit-text-stroke-width: 0.2px;
    }
    .titulo2 {
        margin-top: 10px;
        -webkit-text-stroke-width: 0.2px;
    }
    .titulo3 {
        margin-bottom: 0;
    }
}

.mascota img,
.mascota2 img {
    width: 240px;
}

@media screen and (max-width: 500px) {
    .menu2.active {
        left: 0;
    }
    .catmenu {
        display: inline-block;
    }
    .menu2 li {
        -webkit-text-stroke-width: 0;
        font-size: 30px;
        text-align: center;
        width: 100%;
        display: block;
        border: 0;
        border-bottom: 2px solid #fff;
        border-radius: 0;
        background-image: none;
    }
    .mascotas h3 {
        -webkit-text-stroke-width: 0;
    }
    .lista li:first-child {
        padding-top: 10px;
    }
    .lista {
        width: 100%;
        padding: 0;
    }
    .mascota2 ol {
        margin-right: 0;
    }
    .lista li {
        width: 100%;
        -webkit-text-stroke-width: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: rgba(0, 0, 0, 0.6);
    }
    .menu li {
        -webkit-text-stroke-width: 0;
    }
    .menu li a {
        -webkit-text-stroke-width: 0;
    }
    .titulo {
        -webkit-text-stroke-width: 0;
    }
    .titulo2 {
        -webkit-text-stroke-width: 0;
    }
    .mascota img,
    .mascota2 img {
        width: 200px;
    }
    .imagenes {
        margin: 0 auto;
    }
    .imagenescel {
        margin: 0 auto;
    }
}